@media only screen and (max-width: 1024px) {
    .header-text {
        padding-left: 50px;
    }

    .about-img-tag img {
        height: 100px;
    }

    .about-img-tag {
        position: absolute;
        top: -30px !important;
        left: -30px !important;
    }

    .services-text {
        width: auto !important;
        height: 510px !important;
    }

    .port-abs-text {
        padding: 5px 20px !important;
    }

    .owl-carousel .owl-nav button.owl-next {
        right: -20px !important;
    }

    .owl-carousel .owl-nav button.owl-prev {
        left: -20px !important;
    }

    .navbar-toggler:focus {
        text-decoration: none;
        outline: 0;
        box-shadow: none;
    }
}

@media only screen and (max-width: 768px) {
    .ml-10 {
        margin-left: 0px !important;
    }

    .back-n {
        margin-top: 30px;
    }

    .bold-text {
        font-size: 34px !important;
    }

    .header-sub-title {
        font-size: 18px !important;
    }

    .section-title {
        font-size: 31px !important;
    }

    .progress-bar {
        position: relative;
        height: 170px;
        width: 170px;
    }

    .progress-bar div span {
        position: absolute;
        font-family: Arial;
        font-size: 25px;
        line-height: 150px;
        height: 150px;
        width: 150px;
        left: 10px;
        top: 23.5px;
    }

    .srv-title {
        font-size: 20px !important;
    }

    .services-text {
        height: auto !important;
        padding: 60px 20px !important;
    }

    .skil-title {
        font-size: 17px !important;
    }

    .port-title {
        margin-bottom: 0px !important;
        font-size: 14px !important;
    }

    .sub-p {
        font-size: 10px !important;
    }

    .sml-tx {
        font-size: 13px;
        margin-top: 0px !important;
        line-height: 20px;
    }

    .know-btn {
        margin-top: 12px !important;
    }

    .carsul-text {
        width: auto !important;
    }

    .owl-theme .owl-nav.disabled+.owl-dots {
        margin-top: 150px;
    }

    .owl-theme .owl-dots .owl-dot span {
        width: 30px;
        height: 7px;
        margin: 5px 7px;
        background: #f1f1f1;
        display: block;
        transition: opacity .2s ease;
        border-radius: 30px;
    }

    .owl-theme .owl-dots .owl-dot.active span,
    .owl-theme .owl-dots .owl-dot:hover span {
        background: #0FBF61;
    }

    .foter-link {
        font-size: 11px !important;
    }

}

@media only screen and (max-width: 425px) {

    .header-icon {
        display: none;
    }

    .header-text {
        padding-left: 0px;
    }

    .back-n {
        margin-top: 0px;
    }

    .hdr-img {
        margin-top: 100px;
    }

    .header-wrap {
        padding-top: 70px !important;
    }

    .about-img-tag {
        position: absolute;
        top: -33px !important;
        left: 0px !important;
    }

    .about-me {
        overflow: hidden;
    }

    .pl-40 {
        padding-left: 0px !important;
    }

    .about-me-text {
        margin-top: 50px;
    }

    .progress-bar {
        overflow: hidden;
        color: #151D41;
        border-radius: 50%;
        box-shadow: 15px 15px 32px #e8e8e8, -15px -15px 32px #ffffff;
        background: #FFFFFF;
        margin-left: auto;
        margin-right: auto;
    }

    .progress-bar {
        position: relative;
        height: 200px !important;
        width: 200px !important;
        margin-bottom: 40px;
    }

    .progress-bar div span {
        position: absolute;
        font-family: Arial;
        font-size: 25px;
        line-height: 175px !important;
        height: 175px !important;
        width: 175px !important;
        left: 12.5px !important;
        top: 12.5px !important;
        text-align: center;
        border-radius: 50%;
        background-color: white;
    }

    .progress-my {
        padding-top: 30px !important;
        padding-bottom: 100px;
    }

    .services-text {
        margin-bottom: 50px;
    }

    .mr-tp {
        margin-top: 0px !important;
    }

    .t-cn {
        text-align: center;
    }

    .btn-hdr {
        width: 160px;
        height: 50px;
        background: #0FBF61;
        color: #151D41;
        font-weight: 500;
        margin-top: 30px;
        margin-right: 0px !important;
    }

    .bars-01 {
        margin-bottom: 100px;
    }

    .m1-0 {
        margin-top: 0px !important;
    }

    .port-itm {
        margin-bottom: 40px !important;
    }

    .port-abs-text {
        padding: 65px 20px !important;
    }

    .port-title {
        color: #ffffff;
        font-size: 20px !important;
        margin-bottom: 10px !important;
    }

    .sub-p {
        font-size: 15px !important;
    }

    .sml-tx {
        font-size: 16px !important;
        line-height: 35px !important;
    }

    .know-btn {
        margin-top: 35px !important;
    }

    .testi-tag {
        position: absolute;
        top: 0px;
        left: -215px !important;
        z-index: -1;
    }

    .carsul-text {
        padding: 60px 20px !important;
    }

    .car-back-tag {
        left: 20px !important;
    }

    .blog-img {
        margin-bottom: 40px;
        margin-top: 20px;
    }

    .footer-main {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .foter-link {
        font-size: 17px !important;
    }

    .foter-title {
        margin-bottom: 20px;
        margin-top: 20px;
    }
}